html {
    overflow-x: hidden;
}

body {
    background: #f0f3f7;
    font-family: "Arial", "Helvetica", "微軟正黑體", "DFHei", "Microsoft JhengHei", "sans-serif";
    letter-spacing: 0.06em;
}
.main {
    height: 100%;
}
@media (min-width: 992px) {
    .main {
        height: calc(100vh - 160px - 20px);
    }
}

#map {
    height: calc(100vh - 160px - 20px);
}

.header {
    height: 160px;
}
@media (min-width: 992px) {
    .header {
        height: 100px;
    }
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.select {
    width: 100%;
}
@media (min-width: 992px) {
    .select {
        width: 250px;
    }
}
.f-14 {
    font-size: 14px !important;
}

.aboveMap {
    z-index: 9999;
    position: absolute;
    top: 20px;
    left: calc(50% - 145px / 2);
}
